name: CI/CD Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-test-docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Build Gradle project
        run: ./gradlew clean bootJar

      - name: Run tests
        run: ./gradlew test

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: |
          VERSION=1.0.1
          docker build -t saaaakibbb/mongospring:$VERSION .
          docker tag saaaakibbb/mongospring:$VERSION saaaakibbb/mongospring:latest

      - name: Push to Docker Hub
        run: |
          VERSION=1.0.1
          docker push saaaakibbb/mongospring:$VERSION
          docker push saaaakibbb/mongospring:latest
      
